* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: white;
}

body {
  // background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  height: 100vh;

  p {
    color: white;
  }
}