// Styles for the card

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .image {
        overflow: hidden;
        width: 400px;
        height: 400px;
        border-radius: 12px;
        background-size: cover;
        // background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        background-clip: border-box;

        @media screen and (max-width: 510px) {
            width: 200px;
            height: 200px;
        }
    }

    .track-name {
        font-weight: bold;
        font-size: 20px;
        margin-block: 20px;

        @media screen and (max-width: 510px) {
            font-size: 15px;
        }
    }
}