// Styles for the card

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    .image {
        overflow: hidden;
        width: 400px;
        // height: ;
        position: relative;

        img {
            width: 120%;
        }
    }

    p {}
}